*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 1.4rem;
  overflow-y: overlay;
  scroll-behavior: smooth;
  color: var(--white);
  background-color: var(--ground);
}

@import '../styles/root';
